    .content-div {

        margin: 100px;
    }

    .disablebtn{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
        width: 80px;
        color: white;
        border:none
    }
    .enablebtn{
        background-color: rgb(80, 108, 234);
        border-radius: 10px;
        width: 80px;
        color: white;
        border:none
    }

    .Editbtn{
        /* background-color: rgb(83, 132, 237); */
        border-radius: 10px;
        color: rgb(0, 0, 0);
        width: 55px;
        text-decoration: none;
        border:none;
        margin-left: 5px;
        
    }

    .userRow{
        background-color: red;
    }