.navFont{
    font-size: 16px;
    font-weight: 300;
  }
  .navbar{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .loginButton {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
  }

  .signupButton{
    color: white;
    background-color: rgb(0, 0, 0);
    margin: 3px;
    padding: 5px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: none;

  }

  .CompanyName{
    font-weight: bold;
    font-size: x-large;
    color: blueviolet;
  }

  

  .profileButton{
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border: none;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: none;
  }
  .loginSignupBtn{
    display: flex;
  }

  .myCourse{
    box-shadow: none;
    text-decoration: none;
  }

  .courseBlock{
    display: flex;
    align-items: center;
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: medium;
  }

  .searchBar{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .App{
    background-color: #fff;
    /* height: 50vh; */
    width: 35vw;
}

/* .search-bar-container{
    padding-top: 20vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
} */

.userlogOutBtnDiv{
  display: flex;
  align-content: center;
  align-items: center;
  margin-right: 10px;
  
}
.userloginBtn{
  padding: 5px;
  border: none;
  background-color: red;
  border-radius: 5px;
  color: white;
}