.courseDiv {
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 350px;
    margin: 25px;
    padding: 10px;
}

.coursePhoto {

    height: 150px;
    width: 230px;
    background-color: rgb(171, 171, 171);
    /* border-radius: 10px; */
}

/* .text{
    padding: 8px;
} */

.CourseHeading{
    font-size: large;
    margin: 3px;
}
.CourseAbout{
    font-size: small;
    margin: 6px;
}

.CoursePrice{
    color: darkgoldenrod;
    font-weight: 900;
}
.row{
    display: flex;
    
}

.time{
    margin: 5px;
font-size: 10px;
color: black;
font-weight: 100;
}

.allCourseDisplayHeading{
    margin-left: 20px;
    margin-top: 30px;
}
.mainContainer{
    justify-content: center;
    display: flex;
}